<h1>test</h1>
<%=@test%>

<form action="answer" method="get" data-turbo="false">
  <input type="text" name="answer?" placeholder="Ask your Coach anything:">
  <input type="submit" value="Ask!">
</form>
